@model CartViewModel

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>


<h1>Your Purchases</h1>

<form asp-action="Clear" method="post">
    <ul class="list-group mb-4">
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    Subtotal: @Model.Subtotal.ToString("c")
                </div>
                <div class="col">
                    <div class="float-right">
                        <a asp-action="Checkout" class="btn btn-primary">Checkout</a>
                        <button type="submit" class="btn btn-primary">Clear Cart</button>
                        <a asp-action="Index" asp-controller="Package"
                           asp-all-route-data="@Model.PackageGridRoute">Back to Shopping</a>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</form>
<form asp-action="Remove" method="post">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Package ID</th>
                <th>Package Name</th>
                <th>Price</th>
                <th>Number of Travellers</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CartItem item in Model.List)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Package"
                           asp-route-id="@item.Package.PackageId"
                           asp-route-slug="@item.Package.PkgName.Slug()">
                            @item.Package.PackageId
                        </a>
                    </td>
                    <td>
                        @*@foreach (var keyValuePair in item.Book.Authors) {*@
                        <p>
                            <a asp-action="Details" asp-controller="Package"
                               asp-route-id="@item.Package.PackageId"
                               asp-route-slug="@item.Package.PkgName.Slug()">
                                @item.Package.PkgName
                            </a>
                        </p>
                    </td>
                    <td>@item.Package.PkgBasePrice.ToString("c")</td>
                    <td>@item.Quantity</td>
                    <td>@item.Subtotal.ToString("c")</td>
                    <td>
                        <div class="float-right">
                            <a asp-action="Edit" asp-controller="Cart"
                               asp-route-id="@item.Package.PackageId"
                               asp-route-slug="@item.Package.PkgName.Slug()"
                               class="btn btn-primary">Edit</a>
                            <button type="submit" name="id" value="@item.Package.PackageId"
                                    class="btn btn-primary">
                                Remove
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>